.logo .img-outer{
    width: 40px;
}

.events .img-outer{
    cursor: pointer;
}

.events .img-outer:nth-child(2){
    margin: 0px 30px;
}

.events .img-outer:nth-child(3) {
    position: relative;
}

.events .img-outer:nth-child(3) p{
    position: absolute;
    top: -11px;
    right: -7px;
    background: #e74c3c;
    border-radius: 50%;
    padding: 0px 5px;
    color: white;
    font-size: 11px;
    margin: 0px;
}

.search input{
    padding-right: 10px;
}