body{
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  color: #95a5a6;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
  background: #b3b3b3;
}

img{
  width: 100%;
}

.flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.j-center{
  justify-content: center;
}

.j-s-between{
  justify-content: space-between;
}

.a-center{
  align-items: center;
}

.a-end{
  align-items: flex-end;
}

.t-center{
  text-align: center;
}

.capitalize{
  text-transform: capitalize;
}

.uppercase{
  text-transform: uppercase;
}

ul{
  padding: 0px;
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none
}

input{
  border: none;
  outline: none;
  color: #95a5a6;
  width: 102px;
}

input::placeholder{
  color: #95a5a6;
}

.pages{
  width: calc(100vw - 200px);
  /* padding: 0px 26px; */
  background: #ecf0f1;
}

.notf{
  padding: 24px 26px;
  background: white;
  border-bottom: 1px solid #e5e5e5;
}

.p-lr-47{
  padding-left: 47px;
  padding-right: 47px;
}

.p-lr-25{
  padding-left: 25px;
  padding-right: 25px;
}

.p-tb-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-b-80{
  padding-bottom: 80px;
}

.m-t-38{
  margin-top: 38px;
}

.fa.fa-star{
  padding-right: 2px;
}

.col-33{
  width: 33%;
}

.col-50{
  width: 50%;
}

.col-67{
  width: 67%;
}

.col-100{
  width: 100%;
}

.brdr-1{
  border: 1px solid #dee1e2;
}

.brdr-l-1{
  border-left: 1px solid #dee1e2;
}

.brdr-r-1{
  border-right: 1px solid #dee1e2;
}

.brdr-b-1{
  border-bottom: 1px solid #dee1e2;
}

.brdr-t-1{
  border-top: 1px solid #dee1e2;
}

.more{
  font-size: 12px;
  color: rgb(44, 62, 80);
  font-weight: bold;
  text-align: right;
  padding: 10px 24px;
  cursor: pointer;
}

h2{
  font-weight: normal;
}

.react-tabs{
  /* background: white; */
}

.react-tabs h1{
  font-size: 34px;
  margin: 0px;
  padding: 20px 0px;
  line-height: 27px
}

.react-tabs p{
  font-size: 12px;
  margin: 0px;
  padding-bottom: 13px;
}

.react-tabs ul{
 margin: 0px;
}

.react-tabs__tab-panel{
  background: white;
  border: 1px solid #dee1e2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  border-top:0px; 
  transition: .2s ease-in-out;
}

.react-tabs__tab-panel h2{
  font-size: 13px;
  padding: 24px;
  margin: 0px;
}

.react-tabs ul li {
  background: #ecf0f1;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid #dee1e2!important;
}

.react-tabs ul li:focus{
  outline: none;
}

.react-tabs ul li.react-tabs__tab--selected{
  background: white;
  background: white!important;
  border: 1px solid #dee1e2!important;
  border-bottom: transparent!important;
}

.orange .react-tabs ul li.react-tabs__tab--selected{
  color: #e67333;
}

.purple .react-tabs ul li.react-tabs__tab--selected{
  color: #8e44ad;
}

.green .react-tabs ul li.react-tabs__tab--selected{
  color: #16a085;
}

.react-tabs h2{
  cursor: pointer;
  transition: .2s ease-in-out;
  border-left: 4px solid transparent;  
}

.orange .react-tabs h2:hover{
  border-left-color: #e67333; 
}

.purple .react-tabs h2:hover{
  border-left-color: #8e44ad;
}

.green .react-tabs h2:hover{
  border-left-color: #16a085;
}

.react-tabs h2:hover{
  border-left: 4px solid;
  border-radius: 0px!important;
  background: #f6f8fc;
  color: #2c3e50;
}

.question-tab span .more, .exam-tab span .more{
  color: inherit;
  padding: 0px
}

.exam-tab .react-tabs__tab-panel h2{
  padding-bottom: 0px;
}

.exam-tab .statistic-inner{
  background: #16a085!important;
  position: relative;
}

.exam-tab .statistic-outer{
  background: white;
  width: 30px;
  height: 41px;
}

.exam-tab .statistic-inner span{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%,-100%);
}

.numbs{
  width: 45px;
  padding-bottom: 0px!important;
}

.fa-comment-o{
  padding-right: 3px;
}