.activity h2{
    font-size: 16px;
    color: rgb(127, 140, 141);
    margin: 0px;
    margin-bottom: 16px;
    line-height: 8px;
}

.activity .img-outer{
    width: 32px;
    margin-right: 14px;
}

.activity span:nth-child(1){
    color: #3498db;
}

.activity span:nth-child(3){
    color: #2c3e50;
    font-weight: bold;
}

.activity .friend{
    padding: 15px 24px;
    /* padding-left: 10px; */
    border-left: 5px solid transparent;
    padding-bottom: 0px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.activity .friend:hover{
    background: #f6f8fc;
    border-left: 5px solid #8e44ad;
}

.activity .friend .brdr-b-1{
    margin-top: 10px;
}